<div class="app-container">
    <main class="app-main">
        <st-table [columns]="columns" [elements]="elements">
            <ng-template stTableCell="A" let-element>
                <span>A - {{element.a}}</span>
            </ng-template>
            <ng-template stTableCell="B" let-element>
                <span>B - {{element.b}}</span>
            </ng-template>
            <ng-template stTableCell="C" let-element>
                <span>C - {{element.c}}</span>
            </ng-template>
        </st-table>
    </main>
</div>